{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">
    <title>Dictionary</title>
    
    <link rel="stylesheet" href={% static "style/reset.css" %}>
    <link rel="stylesheet" href={% static "style/dictionary_style.css" %}>

</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/" class="btn-back">Back to Main</a>
        </div>
        <div id="nav_alpha" class="alphabet-nav">
            
        </div>
        <div id="content" class="dictionary-content">

        </div>
    </div>
    <script src={% static "script/dictionary_script.js" %}></script>
</body>
</html>