{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorisation page</title>
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">
        <!-- fonts -->
        <link rel="stylesheet" href="/style/regis.css">
        <link rel="stylesheet" href="/style/reset.css">
    </head>
<body>
    <div class="container">
        <h1 class="registration-text">РЕГИСТРАЦИЯ</h1>
        <form>
            <div class="form-group">
                <input type="text" placeholder="Имя пользователя" required>
            </div>

            <div class="form-group">
                <input type="password" placeholder="Пароль" required>
            </div>

            <button type="submit">Зарегистрироваться</button>
        </form>
        <div class="signin-link">
            Уже есть аккаунт? <a href="#">Войти</a>
        </div>
    </div>
    <script src=""></script>
</body>
</html>