{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests page</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap" rel="stylesheet">
    <!-- fonts -->
    <link rel="stylesheet" href={%static "style/tests.css"%}>
    <link rel="stylesheet" href={% static "style/reset.css"%}>
</head>
<body>
    <div class="container">
        
        <h1 class="label-test-tasks">Тестовые задания</h1>
        <p class="label-check">Проверь свои знания</p>  

        <div onclick="window.location.href='{% url 'testner' %}'"  class="cards-grid">
        <div onclick="window.location.href='{% url 'testner' %}'"  class="card green"></div>
        <div onclick="window.location.href='{% url 'testner' %}'"  class="card pink"></div>
        <div onclick="window.location.href='{% url 'testner' %}'"  class="card pink"></div>
        <div onclick="window.location.href='{% url 'testner' %}'"  class="card green"></div>
        <div onclick="window.location.href='{% url 'testner' %}'"  class="card green"></div>
        <div onclick="window.location.href='{% url 'testner' %}'"  class="card pink"></div>
        </div>

    </div>
</body>
</html>