{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test page</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">
    <!-- fonts -->
    <link rel="stylesheet" href= {%static "style/testenterstyle.css"%}>
    <link rel="stylesheet" href= {% static "style/reset.css"%}>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 id="question">Loading question...</h1>
        </div>

        <div id="answers-btn">
           
        </div>
        <button id="btn-next">Next</button>
    </div>

    {% if test_data %}
    <script id="test-data" type="application/json">
        {{ test_data|safe }}
    </script>
    {% endif %}
    
    <script src={%static "script/scripttest.js"%}></script>
</body>
</html>