<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning English</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">
    <!-- fonts -->
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="container">

        <header class="header">
            <!-- <img src="./images/circle.svg" alt="Лого" class="logo"> -->
            <button class="btn-username">имя пользователя</button>
        </header>
        
        <main>

            <div class="word-of-the-day">
                <div class="commas">“</div>
                <h1 class="word-translate">endearing - arousing feelings of affection
                    or admiration</h1>
                    <p class="label-word-of-the-day">СЛОВО ДНЯ</p>
                </div>
                
                <div class="buttons">
                    <button class="btn tests">тесты</button>
                    <button class="btn rules">правила</button>
                    <button class="btn dict">словарь</button>
                </div>
                
        </main>
    </div>

</body>
</html>